---
import Container from "@components/Container.astro";
import BackToTop from "@components/BackToTop.astro";
---

<footer>
  <Container>
    <div class="relative">
      <div class="absolute right-0 -top-20">
        <BackToTop />
      </div>
    </div>
    <div class="flex justify-center items-center">
      <div>
        &copy; 2024 — Twaites — All rights reserved.
      </div>
    </div>
  </Container>
</footer>
